<div class="d-flex justify-content-between">
	<h1>Log</h1>
	<div class="text-right">
		<a href="/logs"><i class="fa fa-arrow-left"></i> back to logs</a>
	</div>
</div>

<div class="form-group row">
	<label class="col-2 col-form-label">Level</label>
	<div class="col-10">
		<span class="form-control-text">{{logLevel}}</span>
	</div>
</div>
<div class="form-group row">
	<label class="col-2 col-form-label">Message</label>
	<div class="col-10">
		<span class="form-control-text">
			<strong>{{logMessage}}</strong>
			{{#if stack}}<br>{{stack}}{{/if}}
		</span>
	</div>
</div>
<div class="form-group row">
	<label class="col-2 col-form-label">Status</label>
	<div class="col-10">
		<span class="form-control-text">{{httpStatus}}</span>

	</div>
</div>
<div class="form-group row">
	<label class="col-2 col-form-label">Url</label>
	<div class="col-10">
		<span class="form-control-text">{{requestUrl}}</span>
	</div>
</div>
<div class="form-group row">
	<label class="col-2 col-form-label">Username</label>
	<div class="col-10">
		<span class="form-control-text">{{username}}</span>
	</div>
</div>