<div class="d-flex justify-content-between">
    <h1>User</h1>
    <div class="text-right">
        <a href="/logs"><i class="fa fa-arrow-left"></i> back to users</a>
    </div>
</div>

<form action="/user/edit" method="POST">
    <input type="hidden" name="userId" value="{{userId}}">
    <div class="form-group row">
        <label class="col-2 col-form-label">Username</label>
        <div class="col-10">
            <input type="text" name="userName" value="{{user.username}}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">First Name</label>
        <div class="col-10">
            <input type="text" name="firstName" value="{{user.firstName}}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Last Name</label>
        <div class="col-10">
            <input type="text" name="lastName" value="{{user.lastName}}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-10">
            <input type="text" name="password" value="{{user.password}}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Confirm Password</label>
        <div class="col-10">
            <input type="text" name="confirmPassword" value="{{user.confirmPassword}}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Roles</label>
        <div class="col-10">
            {{#each roles}}
            <div class="form-check custom-control custom-checkbox">
                <input id="jobType-{{roleId}}" name="jobTypes" type="checkbox" value="{{roleId}}"
                    class="custom-control-input" {{includes ../user.roleIds rolesId "checked"}}>
                <label for="jobType-{{roleId}}" class="custom-control-label">
                    {{roleName}}
                </label>
            </div>
            {{/each}}
        </div>
    </div>

</form>