<div class="form-group row">
    <label class="col-2 col-form-label">Name</label>
    <div class="col-10">
        <span class="form-control-text">{{profile.name}}</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-2 col-form-label">Title</label>
    <div class="col-10">
        <input type="text" name="profileTitle" class="form-control" value="{{profile.profileTitle}}">
    </div>
</div>
<fieldset class="form-group">
    <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Departments</legend>
        <div class="col-sm-10">
            {{#each departments}}
            <div class="form-check">
                <input type="radio" name="departments" id="department-{{departmentId}}" value="{{departmentId}}"
                    class="form-check-input" {{is ../profile.departmentId departmentId "checked"}}>
                <label for="department-{{departmentId}}" class="form-check-label">
                    {{departmentName}}
                </label>
            </div>
            {{/each}}
        </div>
    </div>
</fieldset>
<div class="form-group row">
    <div class="col-2 col-form-label">Job Types</div>
    <div class="col-10">
        {{#each jobTypes}}
        <div class="form-check">
            <input id="jobType-{{jobTypeId}}" name="jobTypes" type="checkbox" value="{{jobTypeId}}"
                class="form-check-input" {{includes ../profile.jobTypeIds jobTypeId "checked"}}>
            <label for="jobType-{{jobTypeId}}" class="form-check-label">
                {{jobTypeName}}
            </label>
        </div>
        {{/each}}
    </div>
</div>
<div class="form-group row">
    <label for="firstName" class="col-2 col-form-label">Street</label>
    <div class="col-10">
        <input type="text" name="firstName" class="form-control" value="{{profile.streetAddress}}">
    </div>
</div>
<div class="form-group row">
    <label for="lastName" class="col-2 col-form-label">City</label>
    <div class="col-10">
        <input type="text" name="lastName" class="form-control" value="{{profile.city}}">
    </div>
</div>
<div class="form-group row">
    <label for="password" class="col-2 col-form-label">State</label>
    <div class="col-10">
        <select id="states" class="form-control">
            {{#each states}}
            <option value="{{this}}" {{is ../profile.state this "selected"}}>{{this}}</option>
            {{/each}}
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="password" class="col-2 col-form-label">Zip Code</label>
    <div class="col-10">
        <input type="text" name="password" class="form-control" value="{{profile.zipCode}}">
    </div>
</div>
<div class="form-group row">
    <label class="col-2 col-form-label">Created Date</label>
    <div class="col-10">
        <span class="form-control-text">{{date profile.createdTimestamp}}</span>
    </div>
</div>


<div class="form-group row form-commands">
    <label class="col-2 col-form-label"></label>
    <div class="col-10">
        <button class="btn btn-sm btn-primary">
            <i class="fa fa-check"></i> Save
        </button>
        <button class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#confirm-cancel">
            <i class="fa fa-times"></i> Cancel</span>
        </button>
        <core-confirm-dialog id="confirm-cancel" yes-text="Yes, cancel" yes-href="/test/guidelines">Are you sure you want to
            <strong>cancel</strong>?</core-confirm-dialog>

        <form action="/test/guideline/delete/{{profile.profileId}}" method="POST" class="d-inline">
            <button type="button" class="btn btn-sm btn-outline-danger float-right" data-toggle="modal" data-target="#confirm-delete">
                <i class="fa fa-trash-o"></i> Delete</span>
            </button>
            <core-confirm-dialog id="confirm-delete" type="form" yes-text="Yes, delete">Are you sure you want to delete
                <strong>{{profile.name}}</strong>?</core-confirm-dialog>
        </form>
    </div>
</div>