<h1>Users</h1>

<table id="" class="table mt-3">
    <thead>
        <tr>
            <th class="text-center">username</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Last Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
            <tr>
                <td class="text-center">{{username}}</td>
                <td class="text-center">{{firstName}}</td>
                <td class="text-center">{{lastName}}</td>
                <td><a href="/user/edit? username={{username}}" data-route-link><i class="fa fa-eye"></i></a></td>
                <td><a href="#" data-action="delete" data-user-id="{{userId}}"><i class="fa fa-trash-o"></i></a></td>
            </tr>
        {{/each}}


    </tbody>
</table>