

<form action="/inmate" method="POST">
    <div class="form-group row">
        <label for="inmateNumber" class="col-2 col-form-label">Inmate Number</label>
        <div class="col-10">
            <input type="text" name="userName" class="form-control" value="{{inmate.inmateNumber}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="firstName" class="col-2 col-form-label">First Name</label>
        <div class="col-10">
            <input type="text" name="firstName" class="form-control" value="{{inmate.firstName}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-2 col-form-label">Last Name</label>
        <div class="col-10">
            <input type="text" name="lastName" class="form-control" value="{{inmate.lastName}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="housingUnit" class="col-2 col-form-label">Housing Unit</label>
        <div class="col-10">
            <input type="text" name="housingUnit" class="form-control" value="{{inmate.housingUnit}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="bunk" class="col-2 col-form-label">Bunk</label>
        <div class="col-10">
            <input type="text" name="bunk" class="form-control" value="{{inmate.bunk}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="dateGED" class="col-2 col-form-label">GED Date</label>
        <div class="col-10">
            <input type="text" name="dateGED" class="form-control" value="{{inmate.dateGED}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="dateGrad" class="col-2 col-form-label">Graduation Date</label>
        <div class="col-10">
            <input type="text" name="dateGrad" class="form-control" value="{{inmate.dateGrad}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="completedPaperWork" class="col-2 col-form-label">Paper Work Completed</label>
        <div class="col-10">
            <input type="text" name="completedPaperWork" class="form-control" value="{{inmate.completedPaperWork}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="educationStatus" class="col-2 col-form-label">Education Status</label>
        <div class="col-10">
            <input type="text" name="educationStatus" class="form-control" value="{{inmate.educationStatus}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="readingScore" class="col-2 col-form-label">Reading Score</label>
        <div class="col-10">
            <input type="text" name="readingScore" class="form-control" value="{{inmate.readingScore}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="mathScore" class="col-2 col-form-label">Math Score</label>
        <div class="col-10">
            <input type="text" name="mathScore" class="form-control" value="{{inmate.mathScore}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="testDate" class="col-2 col-form-label">Test Date</label>
        <div class="col-10">
            <input type="text" name="testDate" class="form-control" value="{{inmate.testDate}}">
        </div>
    </div>
</form>