<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">conduit</h1>
    <p class="lead">A place to share your knowledge.</p>
  </div>
</div>

<div class="container page">
  <div class="row">

    <div class="col-md-9">
      <div class="feed-toggle mb-3">
        <ul class="nav nav-tabs outline-active">
          <li class="nav-item">
            <a class="nav-link" href="">Your Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="">Global Feed</a>
          </li>
        </ul>
      </div>

      {{#each pagedArticles.articles}}

      <button class="btn btn-outline-primary btn-sm float-right">
        <i class="fa fa-heart mr-2"></i>29
      </button>

      <h2 class="mb-3"><a href="/article/{{articleId}}"><i class="{{iconCssClass}} mr-2"></i>{{articleTitle}}</a></h2>
      <p>{{articleDescription}}</p>

      <div class="font-size-sm">
        <a href="">{{firstName}} {{lastName}}</a>
        <span class="text-muted d-block">{{date updatedTimestamp}}</span>
      </div>

      <hr>

      {{/each}}



      <core-pagination pagination-data="{{JSONstringify pagedArticles.pagination}}"></core-pagination>

    </div>

    <div class="col-md-3">
      <div class="sidebar">
        <p>Popular Tags</p>

        <div class="tag-list">
          <a href="" class="tag-pill tag-default">programming</a>
          <a href="" class="tag-pill tag-default">javascript</a>
          <a href="" class="tag-pill tag-default">emberjs</a>
          <a href="" class="tag-pill tag-default">angularjs</a>
          <a href="" class="tag-pill tag-default">react</a>
          <a href="" class="tag-pill tag-default">mean</a>
          <a href="" class="tag-pill tag-default">node</a>
          <a href="" class="tag-pill tag-default">rails</a>
        </div>
      </div>
    </div>

  </div>
</div>