<div class="container mt-3">
	<div class="row">
		<div class="col-md-10 offset-md-1 col-xs-12">

			<h1>{{#if article.articleId}} Edit {{else}} New {{/if}} article</h1>

			<form action="/article/edit" method="POST" class="d-inline">
				<input type="hidden" name="articleId" value="{{article.articleId}}">
				<div class="form-group">
					<input id="articleTitle" name="articleTitle" type="text" value="{{article.articleTitle}}"
						class="form-control form-control-lg" placeholder="Article Title" required>
				</div>
				<div class="form-group">
					<input name="articleDescription" type="text" value="{{article.articleDescription}}"
						class="form-control" placeholder="What's this article about?" required>
				</div>
				<div class="form-group">
					<textarea name="articleBody" class="form-control" rows="8"
						placeholder="Write your article (in markdown)" required>{{article.articleBody}}</textarea>
				</div>
				<div class="form-group">
					<input name="iconCssClass" type="text" value="{{article.iconCssClass}}" class="form-control"
						placeholder="Icon css class" required>
				</div>

				<button class="btn btn-lg btn-primary">
					<i class="fa fa-check mr-2"></i>{{#if article.articleId}} Save {{else}} Publish {{/if}} article
				</button>
			</form>

			{{#if article.articleId}}
			<form action="/article/delete" method="POST" class="d-inline">
				<input type="hidden" name="articleId" value="{{article.articleId}}">
				<input type="hidden" name="articleTitle" value="{{article.articleTitle}}">
				<button type="button" class="btn btn-outline-danger float-right" data-toggle="modal"
					data-target="#confirm-delete">
					<i class="fa fa-trash-o mr-2"></i>Delete</span>
				</button>
				<core-confirm-dialog id="confirm-delete" type="form" yes-text="Yes, delete">Are you sure you
					want to
					delete <strong>{{article.articleTitle}}</strong>?</core-confirm-dialog>
			</form>
			{{/if}}
		</div>
	</div>
</div>

<script>
	document.getElementById("articleTitle").focus();
</script>