<div class="jumbotron jumbotron-fluid bg-dark text-light">
	<div class="container">

		<h1><i class="{{article.iconCssClass}}"></i> {{article.articleTitle}}</h1>

		<div class="font-size-sm">
			<span class="text-secondary-darker">{{article.firstName}} {{article.lastName}}</span>
			<span class="text-muted d-block">{{toDate article.updatedDate}}</span>
		</div>

		<hr class="bg-secondary-darkest">

		{{#is article.authorId loggedInUser.userId}}

			<a href="/article/edit/{{../article.articleId}}" class="btn btn-sm btn-outline-secondary mr-1">
				<i class="fa fa-pencil mr-2"></i>Edit Article
			</a>

		{{/is}}

		<article-favorite class="btn-sm" count-favorites="{{article.countFavorites}}"
			is-favorite="{{article.isUserFavorite}}" display-text="true" article-id="{{article.articleId}}"
			user-id="{{loggedInUser.userId}}">
		</article-favorite>

	</div>
</div>

<div class="container page">

	<div class="row article-content">
		<div class="col-md-12">
			{{#markdown}}{{{article.articleBody}}}{{/markdown}}
		</div>
	</div>

</div>