<div class="jumbotron jumbotron-fluid bg-dark text-light">
	<div class="container">

		<h1><i class="{{article.iconCssClass}}"></i> {{article.articleTitle}}</h1>

		<div class="font-size-sm">
			<span class="text-secondary-darker">{{article.firstName}} {{article.lastName}}</span>
			<span class="text-muted d-block">{{date article.updatedTimestamp}}</span>
		</div>

		<hr class="bg-secondary-darkest">

		{{#is article.authorId loggedInUser.userId}}

		<a href="/article/edit/{{../article.articleId}}" class="btn btn-sm btn-outline-secondary mr-1">
			<i class="fa fa-pencil mr-2"></i>Edit Article
		</a>

		{{else}}

		<button class="btn btn-sm btn-outline-primary">
			<i class="fa fa-heart mr-2"></i>Favorite Post <span class="counter">(29)</span>
		</button>

		{{/is}}

	</div>
</div>

<div class="container page">

	<div class="row article-content">
		<div class="col-md-12">
			{{#markdown}}{{article.articleBody}}{{/markdown}}
		</div>
	</div>

</div>