<h1>Logs</h1>

<table id="" class="table mt-3">
	<thead>
		<tr>
			<th class="">Level</th>
			<th class="text-center">Date</th>
			<th class="text-center">Message <i class="far fa-comment text-muted"></i></th>
			<th class="text-center text-muted">Status</th>
			<th class="text-center text-muted">Url</th>
			<th class="text-center text-muted"><i class="fa fa-user mr-2"></i>Username</th>
		</tr>
	</thead>
	<tbody>
		{{#each pagedLogs.logs}}
		<tr>
			<td><a href="/log/{{logId}}" class="{{is "error" logLevel "text-danger"}}">{{logLevel}}</a></td>
			<td class="text-center">{{dateTimeShort createdTimestamp}}</td>
			<td class="" title="{{stack}}">{{logMessage}}</td>
			<td class="text-center">{{httpStatus}}</td>
			<td class="text-center">{{requestUrl}}</td>
			<td class="text-center">{{username}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>

<core-pagination pagination-data="{{JSONstringify pagedLogs.pagination}}"></core-pagination>