<div class="container mt-3">
	<div class="row">
		<div class="col">
			<h1>Logs</h1>
		</div>
	</div>
</div>

<div class="bg-primary">
	<div class="container">
		<div class="row">
			<div class="col">

				<form action="/logs" method="POST">
					<div class="form-row py-3">
						<div class="col">
							<input type="text" name="message" class="form-control d-inline-block" placeholder="Message"
								value="{{search.message}}">
						</div>
					</div>
					<div class="form-row pb-3">
						<div class="col-2">
							<select name="level" class="form-control" data-empty-class="text-placeholder">
								<option value="" class="text-placeholder">Level</option>
								{{#each levels}}
								<option value="{{this}}" {{is this ../search.level 'selected'}}>
									{{this}}
								</option>
								{{/each}}
							</select>
						</div>
						<div class="col-2">
							<select name="status" class="form-control" data-empty-class="text-placeholder">
								<option value="" class="text-placeholder">Status</option>
								{{#each status}}
								<option value="{{this}}" {{is this ../search.status 'selected'}}>
									{{this}}
								</option>
								{{/each}}
							</select>
						</div>
						<div class="col-6">
							<core-typeahead name="user" class="form-control" placeholder="User"
								value="{{search.userValue}}" suggestion-name="User"
								prefetch-url="/api/users/typeahead/prefetch"
								remote-url="/api/users/typeahead/remote?q=searchTerm"></core-typeahead>
						</div>
						<div class="col-2">
							<button class="btn btn-secondary btn-large form-control">
								<i class="fas fa-search mr-2"></i>Search
							</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

<div class="container mt-3">
	<div class="row">
		<div class="col">

			<table id="" class="table table-striped table-hover table-hover-clickable">
				<thead>
					<tr>
						<th class="">Level</th>
						<th class="text-center">Date</th>
						<th class="text-center">Message <i class="far fa-comment text-muted"></i></th>
						<th class="text-center text-muted">Status</th>
						<th class="text-center text-muted">Url</th>
						<th class="text-center text-muted"><i class="fa fa-user mr-2"></i>Username</th>
					</tr>
				</thead>
				<tbody>
					{{#each pagedLogs.logs}}
					<tr>
						<td>
							<a href="/log/{{logId}}" class="{{is "error" logLevel "text-danger"}} table-hover-click">
								{{logLevel}}
							</a>
						</td>
						<td class="text-center">{{toDateTimeShort createdDate}}</td>
						<td class="" title="{{stack}}">{{logMessage}}</td>
						<td class="text-center">{{httpStatus}}</td>
						<td class="text-center">{{requestUrl}}</td>
						<td class="text-center">{{username}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>

			<core-pagination pagination-data="{{JSONstringify pagedLogs.pagination}}"></core-pagination>

		</div>
	</div>
</div>